/* default styles */

/* not supported yet, it's here just to stress parsing */
:root {
  --x: 0
}

html {
  /* should be serif but everybody sets it to sans-serif anyway */
  font-family: sans-serif;
  display: block;
  width: 100%;
  min-height: 100%;
}

head, meta, title, link, style, script {
  display: none;
}

body {
  /* TODO: margin: 10px */
  display: block;
  width: 100%;
  min-height: 100%;
}

div {
  display: block;
}

h1 {
  display: block;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 8px;
}

h2 {
  display: block;
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 8px;
}

h3 {
  display: block;
  font-size: 28px;
  line-height: 32px;
  margin-bottom: 8px;
}

h4 {
  display: block;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 8px;
}

h5 {
  display: block;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 8px;
}

h6 {
  display: block;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 8px;
}

p {
  display: block;
  margin-bottom: 16px;
}

a {
  color: #4338ad;
}

form, fieldset {
  display: block;
}

input {
  line-height: 16px;
  padding: 8px;
  min-height: 32px;
}

textarea {
  display: block;
}

button {
  background-color: #b8b9f4;
  padding: 0 20px;
  border-radius: 2px;
  font-size: 14px;
  line-height: 32px;
  text-align: center;
  justify-content: space-around;
}

table {
  display: flex;
  flex-direction: column;
  width: 100%;
}

thead {
  display: flex;
  width: 100%;
}

tbody {
  display: flex;
  flex-direction: column;
  width: 100%;
}

tr {
  display: flex;
  width: 100%;
}

td, th {
  flex-grow: 1;
  flex-shrink: 1;

  /* TODO: we need real table layout */ 
  --flex-basis: 200px;
}

center {
  display: block;
  align-items: center;
}

/* TODO: display: inline (which should be default for all elements) */
span, a, b, i, em, sub, sup {
  display: flex;
  flex-wrap: wrap;
}
