[submodule "libgraffiti/nanovg-zig"]
	path = libgraffiti/nanovg-zig
	url = https://github.com/fabioarnold/nanovg-zig
[submodule "libgraffiti/glfw"]
	path = libgraffiti/glfw
	url = https://github.com/glfw/glfw
