[submodule "libgraffiti/nanovg-zig"]
	path = deps/nanovg-zig
	url = https://github.com/cztomsik/nanovg-zig
[submodule "libgraffiti/glfw"]
	path = deps/glfw
	url = https://github.com/glfw/glfw
[submodule "zig-napigen"]
	path = deps/napigen
	url = https://github.com/cztomsik/zig-napigen
[submodule "libs/emlay"]
	path = deps/emlay
	url = https://github.com/cztomsik/emlay
