# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request 
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    strategy:
      matrix:
        os:       [ubuntu-latest, windows, macos]
        # platform: [x32, x64]
    
    runs-on: ${{ matrix.os }}

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2

    - name: Setup Node.js for use with actions
      uses: actions/setup-node@v1.1.0
      with:
        # Version Spec of the version to use.  Examples: 10.x, 10.15.1, >=10.15.0, lts
        version: 12.x

    - name: Install libglfw3
      run: sudo apt-get install libglfw3
      if: matrix.os == 'ubuntu-latest'
  
    # Runs a set of commands using the runners shell
    - name: Run a multi-line script
      run: |
        npm i
        echo build succeeded

    - name: Save artifact 
      uses: actions/upload-artifact@v1
      with:
        name: "libgraffiti-${{matrix.os}}"
        path: libgraffiti/target/libgraffiti.node
